/* src/styles.css */
.family-planning-success {
  background-image: url("/assets/44back.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fcfcfc;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Забезпечуємо висоту екрану */
  font-family: "Arial", sans-serif;
  overflow: hidden; /* Забезпечуємо, щоб елементи не виходили за межі */
}

.story-container {
  background-color: #191818cb;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 80%; /* Зменшено до 80% для кращої адаптивності */
  text-align: center;
  max-width: 700px;
  box-sizing: border-box; /* Застосовуємо для правильного розрахунку відступів */
}

.story-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #1f8fe0;
  font-weight: bold;
}

.intro {
  font-size: 1.5rem;
  color: #d5cfcf;
  margin-bottom: 20px;
}

.story {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #fffafa;
}

.cta  {
  margin-top: 30px;
  background-color: #005fa3;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta:hover {
  background-color: #004177;
}
.cta a{
text-decoration: none;
  color: white;

}

/* Адаптивний дизайн */
@media (max-width: 768px) {
  .family-planning-success {
    padding: 20px;
  }

  .story-container {
    width: 90%;
    padding: 25px;
  }

  .story-container h1 {
    font-size: 2rem;
  }

  .intro {
    font-size: 1rem;
  }

  .cta {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .story-container {
    width: 95%;
    padding: 20px;
  }

  .story-container h1 {
    font-size: 1.8rem;
  }

  .intro {
    font-size: 0.9rem;
  }

  .cta {
    font-size: 1rem;
    padding: 12px;
  }
}
