/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
}

/* Header styling */
.header {
  background-image: url("/assets/banner.jpeg"); /* Background image */
  background-size: cover; /* Stretch the background image */
  background-position: center; /* Center the background */
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically center content */
  z-index: 1000; /* Ensure header is on top */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
}

/* Logo styling */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation styling */
.nav {
  display: flex;
  gap: 20px;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.nav a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav a:hover {
  text-decoration: underline;
}

/* Mobile navigation toggle button */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

/* Language switch buttons */
.language-switch {
  display: flex;
  gap: 10px;
  margin-left: auto; /* Align language buttons to the right */
}

.language-switch button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.language-switch button:hover {
  background-color: #555;
}

/* Mobile styles */
@media (max-width: 1000px) {
  .nav {
    background-image: url("/public/fotterback.jpeg"); /* Background image */
    background-size: cover; /* Stretch the background image */
    background-position: center; /* Center the background */
    position: absolute;
    top: 49px;
    right: 0;
    background-color: #333;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    display: none;
    transition: transform 0.3s ease-in-out;
  }
  .language-switch {
    margin-top: 20px;
  }
  .nav.open {
    display: block;
    transform: translateX(0);
    z-index: 1;
  }

  .nav ul {
    flex-direction: column;
    gap: 30px;
  }

  .menu-toggle {
    display: flex;
  }
}
